section.section
  header.section__header
    h3#property-attributes.section__h3 attributes
  div.section__content
    h4.section__h4 Description
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Object
    p 存储的是 Outline 对象当前使用中的配置选项：
    p 说明：建议使用 get(prop) 方法来获取属性，避免直接调用属性。
