section.section
  header.section__header
    h3#property-data.section__h3 data
  div.section__content
    h4.section__h4 Description
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Object
    p 存储的是根据标题 DOM 元素分析的数据：
    dl.section__dl
      dt.section__dt chapters：
      dd.section__dd 标题章节索引数据，单个的 chapter 数据格式如下：
    pre.section__pre
      code.section__code.
        {
           // 段落章节编号
           code: "1.2.3",
           // 标题ID
           id: 0,
           // 标题在父章节中的索引值
           index: 1,
           // 标题的级别
           level: 1,
           // 父标题的ID
           pid: -1,
           // 标题链接地址
           rel: "outline-heading-1",
           // 标题文字
           text: "Outline.js"
        }
    dl.section__dl
      dt.section__dt headings：
      dd.section__dd 各个标题相关的数据：
    pre.section__pre
      code.section__code.
        {
            // 标题节点对应的ID
            id: "outline-heading-1",
            // 标题级别
            level: 1,
            // 标题节点 DOM 对象
            node: h1#outline-heading-1.title.outline-heading,
            // 标题的标签名
            tagName: "H1"
        }
    p 说明：建议使用 getData() 方法来获取对应的数据。
