section.section
  header.section__header
    h3#property-elements.section__h3 elements
  div.section__content
    h4.section__h4 Description
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Object
    p 存储的是 Outline 对象相关的 DOM 元素：
    p 说明：建议使用 getElements() 方法来获取 elements 属性。
