section.section
  header.section__header
    h2.section__title Properties
  div.section__content
    p outline.js 重构后，对外放 4 个重要的属性：anchors、drawer、chapters 和 toolbar。它们都是独立的对象实例，提供了 outline.js 所有的能力（属性和方法）。
  include attrs
  include buttons
  include anchors
  include chapters
  include drawer
  include toolbar
  include DEFAULTS
