# dependencies
**/node_modules

# production
/dist
/docs
/.vscode
/report
/public

# misc
.DS_Store
npm-debug.log*
yarn-error.log

/coverage
.idea
yarn.lock
package-lock.json
*bak

# visual studio code
.history
*.log
functions/*
.temp/**

# screenshot
screenshot
.firebase
.eslintcache

.husky
*.min.js
/tests/
