/* ========== icon.theme - svg 图标的样式 ========== */
.outline-icon {
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}
.outline-icon__svg {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  fill: currentcolor;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
/* ========== buttons.theme - 按钮导航样式 ========== */
/* ========== colors.theme - 基础颜色变量集合 ========== */
.outline-buttons {
  position: fixed;
  z-index: 2;
  top: 50%;
  right: 12px;
  margin: 0;
  width: 56px;
  transform: translateY(-50%);
  overflow: hidden;
}
.outline-buttons__item {
  position: relative;
  z-index: 1;
  margin: 10px;
  width: 36px;
  height: 36px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 6px #ddd;
  box-sizing: border-box;
  background-color: #fff;
  cursor: pointer;
  text-align: center;
  color: #999;
  overflow: hidden;
}
.outline-buttons__item:hover {
  color: #058942;
}
.outline-buttons__item.hide {
  display: none;
}
.outline-buttons__anchor:link,
.outline-buttons__anchor:visited,
.outline-buttons__anchor:hover {
  color: #999;
}
.outline-buttons__anchor:hover {
  color: #058942;
}
.outline-buttons__icon {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  fill: currentcolor;
  overflow: hidden;
}
