div#footer.footer
    p Copyright &copy; 2017 <a href="https://github.com/yaohaixiao">Robert Yao</a>, all right reserved.
    p Code licensed under
        |
        a(href="http://opensource.org/licenses/mit-license.html") MIT License
        |  · Documentation licensed under
        |
        a(href="http://creativecommons.org/licenses/by/3.0/") CC BY 3.0
    p
        a(href="https://github.com/yaohaixiao/articleoutline") View on GitHub
        |  ·
        |
        a(href="https://github.com/yaohaixiao/articleoutline/issues") Issues

