meta(charset="UTF-8")
meta(name="viewport" content="width=device-width")
meta(content="telephone=no", name="format-detection")
meta(name="description" content="Outline.js - Outline.js 是一个专门用来生成文章导读（Table of Contents）导航的 JavaScript 工具。")
meta(name="keywords" content="Outline,JavaScript,jQuery,jQuery Plugin")