h3.chanel Methods
ul.methods
    li.method
        a(href="#method-get") get
    li.method
        a(href="#method-set") set
    li.method
        a(href="#method-getElements") getElements
    li.method
        a(href="#method-getData") getData
    li.method
        a(href="#method-scrollTo") scrollTo
    li.method
        a(href="#method-stop") stop
    li.method
        a(href="#method-show") show
    li.method
        a(href="#method-hide") hide
    li.method
        a(href="#method-toggle") toggle
    li.method
        a(href="#method-remove") remove
    li.method
        a(href="#method-destroy") destroy
    li.method
        a(href="#method-reload") reload