h3.chanel Options
ul.methods
  li.method
    a(href="#option-article") article
  li.method
    a(href="#option-selector") selector
  li.method
    a(href="#option-title") title
  li.method
    a(href="#option-position") position
  li.method
    a(href="#option-anchorURL") anchorURL
  li.method
    a(href="#option-anchorAt") anchorAt
  li.method
    a(href="#option-isGenerateOutline") isGenerateOutline
  li.method
    a(href="#option-isGenerateOutlineChapterCode") isGenerateOutlineChapterCode
  li.method
    a(href="#option-isGenerateHeadingChapterCode") isGenerateHeadingChapterCode
  li.method
    a(href="#option-isGenerateHeadingAnchor") isGenerateHeadingAnchor