h3.chanel Properties
ul.methods
    li.method
        a(href="#property-defaults") defaults
    li.method
        a(href="#property-attributes") attributes
    li.method
        a(href="#property-elements") elements
    li.method
        a(href="#property-data") data