div#property-data.api-md
    div.api-hd
        h3.api-title data
    div.api-bd
        h4 Description
        dl.api-param
            dt.api-param-key Type：
            dd.api-param-value Object
        p 存储的是 AutocJs 根据标题 DOM 元素分析的数据：
        dl.api-param
            dt.api-param-key chapters：
            dd.api-param-value 标题章节索引数据，单个的 chapter 数据格式如下：
        pre.api-code
            code.
                {
                   // 段落章节编号
                   code: "1.2.3",
                   // 标题ID
                   id: 0,
                   // 标题在父章节中的索引值
                   index: 1,
                   // 标题的级别
                   level: 1,
                   // 父标题的ID
                   pid: -1,
                   // 标题链接地址
                   rel: "outline-heading-1",
                   // 标题文字
                   text: "Autoc.js"
                }
        dl.api-param
            dt.api-param-key headings：
            dd.api-param-value 各个标题相关的数据：
        pre.api-code
            code.
                {
                    // 标题节点对应的ID
                    id: "outline-heading-1",
                    // 标题级别
                    level: 1,
                    // 标题节点 DOM 对象
                    node: h1#outline-heading-1.title.outline-heading,
                    // 标题的标签名
                    tagName: "H1"
                }
        p 说明：建议使用 getData() 方法来获取对应的数据。