div#property-elements.api-md
    div.api-hd
        h3.api-title elements
    div.api-bd
        h4 Description
        dl.api-param
            dt.api-param-key Type：
            dd.api-param-value Object
        p 存储的是 ArticleOutline 对象相关的 DOM 元素：
        p 说明：建议使用 getElements() 方法来获取 elements 属性。