doctype html
html(lang="en")
    head
        include inc/meta
        title="ArticleOutline 是一个专门用来生成文章导读（Table of Contents）导航的 JavaScript 工具。"
        include inc/styles
    body
        div#wrap.wrap
            include inc/side
            include inc/main