section.section
  header.section__header
    h3#option-anchorURL.section__h3 anchorURL
  div.section__content
    h4.section__h4 Description
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    dl.section__dl
      dt.section__dt Default：
      dd.section__dd ''
    p 可选，用来指定文章标题锚点链接图标的链接地址：
    pre.section__pre
      code.section__code.
        // Default URL - 默认链接，点击图标，页面会滚动到当前标题位置
        new Outline()

        // Customize URL - 直接打开链接了
        new Outline({
          anchorURL: 'http://www.yaohaixiao.com/'
        })
