section.section
  header.section__header
    h.section__h3 animationCurrent
  div.section__content
    h4.section__h4 Description
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean
    dl.section__dl
      dt.section__dt Default：
      dd.section__dd true
    p 可选，是否采用动画定位高亮当前的章节标题：
    ul
      li true - 采用动画定位高亮（默认值）；
      li false - 采用高亮当前章节标题的链接文字并加粗文字；
