section.section
  header.section__header
    h3#option-article.section__h3 article
  div.section__content
    h4.section__h4 Description
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    dl.section__dl
      dt.section__dt Default：
      dd.section__dd '#article'
    p 必选，用来指定页面中显示文章正文的 DOM 节点的 ID 选择器。
    pre.section__pre
      code.section__code.
        // Default Selector
        new Outline()

        // Customize Selector
        new Outline({
            article: $('#main')
        })
