section.section
  header.section__header
    h3#option-articleElement.section__h3 articleElement
  div.section__content
    h4.section__h4 Description
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String|HTMLElement
    dl.section__dl
      dt.section__dt Default：
      dd.section__dd '#article'
    dl.section__dl
      dt.section__dt String：
      dd.section__dd 选择器字符串，默认值：html,body（即 window 窗口）;
    dl.section__dl
      dt.section__dt HTMLElement：
      dd.section__dd 'DOM 元素;
    p 可选，用来指定页面中显示文章正文的 DOM 节点或者选择器字符串。
    pre.section__pre
      code.section__code.
        // Default Selector
        const outline = new Outline(Outline.DEFAULTS)

        // Customize Selector
        const outline = new Outline({
          articleElement: $('#main')
        })
