section.section
  header.section__header
    h3.section__h3 homepage
  div.section__content
    h4.section__h4 Description
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    dl.section__dl
      dt.section__dt Default：
      dd.section__dd ''
    p 可选，用来指定文章标题锚点链接图标的链接地址：
    pre.section__pre
      code.section__code.
        const outline = new Outline(Outline.DEFAULTS)

        // 侧边栏的 Toolbar 会多出一个 Homepage 图标的按钮
        outline.reload({
          homepage: 'http://www.yaohaixiao.com/'
        })
