section.section
  header.section__header
    h3#option-isGenerateOutlineChapterCode.section__h3 isGenerateOutlineChapterCode
  div.section__content
    h4.section__h4 Description
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean
    dl.section__dl
      dt.section__dt Default：
      dd.section__dd true
    p 可选，用来指定是否文章导读导航菜单是否显示文章段落层次的索引编号。
