section.section
  header.section__header
    h3#option-isGenerateHeadingAnchor.section__h3 isGenerateHeadingAnchor
  div.section__content
    h4.section__h4 Description
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean
    dl.section__dl
      dt.section__dt Default：
      dd.section__dd true
    p 可选，用来指定是否在文章标题位置生成锚点链接图标。
