section.section
  header.section__header
    h3#option-isGenerateHeadingChapterCode.section__h3 isGenerateHeadingChapterCode
  div.section__content
    h4.section__h4 Description
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean
    dl.section__dl
      dt.section__dt Default：
      dd.section__dd false
    p 可选，用来指定是否在文章标题前面显示文章段落层次的索引编号。
