section.section
  header.section__header
    h2.section__title Options
  div.section__content
    p outline.js 有者丰富的配置选项，以便适应不同的展示方式。
  include articleElement
  include title
  include scrollElement
  include position
  include parentElement
  include placement
  include stickyHeight
  include showCode
  include anchorURL
  include homepage
  include git
  include tags
  include issues
  include tools
  include print
  include customClass
  include afterScroll
  include afterSticky
  include afterToggle
  include chpaterTextFilter
