section.section
  header.section__header
    h2.section__title Options
  include anchorAt
  include anchorURL
  include article
  include isGenerateHeadingAnchor
  include isGenerateHeadingChapterCode
  include isGenerateOutline
  include isGenerateOutlineChapterCode
  include position
  include selector
  include title
