section.section
  header.section__header
    h.section__h3 showCode
  div.section__content
    h4.section__h4 Description
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean
    dl.section__dl
      dt.section__dt Default：
      dd.section__dd true
    p 可选，是否显示段落章节编号：
    ul
      li true - 显示编号（默认值）；
      li false - 不显示编号；
