section.section
  header.section__header
    h3.section__h3 showCode
  div.section__content
    h4.section__h4 Description
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean
    dl.section__dl
      dt.section__dt Default：
      dd.section__dd true
    p 可选，是否显示段落章节编号（注意：3.38.2 开始 showCode 默认为 false）：
    ul
      li false - 显示编号；
      li false - 不显示编号（默认值）；
