section.section
  header.section__header
    h3#option-title.section__h3 title
  div.section__content
    h4.section__h4 Description
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    dl.section__dl
      dt.section__dt Default：
      dd.section__dd '目录'
    p 可选，用来指定文章导读导航菜单的标题文字。
