@import './colors';

.outline-print {
  display: none;

  &__title {
    text-align: center;
    font-family: 'Microsoft YaHei UI', Arial, sans-serif;
    font-weight: normal;
    overflow: hidden;
  }
}

@media print {
  html,
  body {
    height: initial !important;
  }

  .outline-print {
    display: block !important;
    overflow: hidden;

    &.outline-reading {
      position: relative !important;
      height: auto !important;
      padding: 0 !important;
      overflow: hidden !important;

      .outline-print__title {
        font-size: 20pt !important;
      }
    }

    pre {
      padding: 1em !important;
      border: 1px solid @border_color !important;
      border-radius: 4px !important;
    }

    pre,
    code {
      background-color: @white !important;
    }

    table,
    img,
    svg {
      break-inside: avoid;
    }

    &_sibling {
      display: none !important;
    }
  }
}
