section.section
  header.section__header
    h3.section__h3 exitReading
  div.section__content
    table.section__table
      thead.section__thead
        tr.section__tr
          th.section__th 事件名称
          th.section__th 说明
          th.section__th 回调参数
      tbody.section__tbody
        tr.section__tr
          td.section__td exitReading
            td.section__td 配置了 print 参数，在离开阅读模式后会触发。
            td.section__td --
    h4.section__h4 Usage
    pre.section__pre
      code.section__code.
        const defaults = Outline.DEFAULTS

        // 需要配置 print 参数
        defaults.print = {
          element: '#article',
          title: document.querySelector('.title')
        }

        const outline = new Outline(Outline.DEFAULTS)

        outline.$on('exitReading', function() {
          // this 上下文就是 outline 实例
          console.log('this', this)
        })

        // 手动触发 exitReading 事件
        outline.$emit('exitReading')
