section.section
  header.section__header
    h2.section__title Events
  div.section__content
    p outline.js 从 3.21.0 开始提供了 6 事件。通过 outline.js 在 3.21.0 新添加的 $on() 方法监听。
  include created
  include mounted
  include enterReading
  include exitReading
  include beforeDestroy
  include destroyed
