div#option-anchorAt.api-md
    div.api-hd
        h3.api-title anchorAt
    div.api-bd
        h4 Description
        dl.api-param
            dt.api-param-key Type：
            dd.api-param-value String
        dl.api-param
            dt.api-param-key Default：
            dd.api-param-value 'front'
        p 可选，用来指定文章标题锚点链接图标的显示位置。
        h4 Usage
        h5 front - 默认锚点图标显示在标题最开始位置
        pre.api-code
            code.
                new Outline();
        h5 end - 锚点图标显示在标题最后面
        pre.api-code
            code.
                new Outline({
                    anchorAt: 'end'
                });