div#option-anchorURL.api-md
    div.api-hd
        h3.api-title anchorURL
    div.api-bd
        h4 Description
        dl.api-param
            dt.api-param-key Type：
            dd.api-param-value String
        dl.api-param
            dt.api-param-key Default：
            dd.api-param-value ''
        p 可选，用来指定文章标题锚点链接图标的链接地址。
        h4 Usage
        h5 Default URL - 默认链接，点击图标，页面会滚动到当前标题位置
        pre.api-code
            code.
                new ArticleOutline();
        h5 Customize URL - 直接打开链接了
        pre.api-code
            code.
                new ArticleOutline({
                    anchorURL: 'http://www.yaohaixiao.com/'
                });