div#option-article.api-md
    div.api-hd
        h3.api-title article
    div.api-bd
        h4 Description
        dl.api-param
            dt.api-param-key Type：
            dd.api-param-value String
        dl.api-param
            dt.api-param-key Default：
            dd.api-param-value '#article'
        p 必选，用来指定页面中显示文章正文的 DOM 节点的 ID 选择器。
        h4 Usage
        h5 Default Selector
        pre.api-code
            code.
                new AutocJs();
        h5 Customize Selector
        pre.api-code
            code.
                new AutocJs({
                    article: $('#main')
                });