div#option-isGenerateHeadingAnchor.api-md
    div.api-hd
        h3.api-title isGenerateHeadingAnchor
    div.api-bd
        h4 Description
        dl.api-param
            dt.api-param-key Type：
            dd.api-param-value Boolean
        dl.api-param
            dt.api-param-key Default：
            dd.api-param-value true
        p 可选，用来指定是否在文章标题位置生成锚点链接图标。