div#option-isGenerateHeadingChapterCode.api-md
    div.api-hd
        h3.api-title isGenerateHeadingChapterCode
    div.api-bd
        h4 Description
        dl.api-param
            dt.api-param-key Type：
            dd.api-param-value Boolean
        dl.api-param
            dt.api-param-key Default：
            dd.api-param-value false
        p 可选，用来指定是否在文章标题前面显示文章段落层次的索引编号。