div.api-section
    h2.api-chanel Options
    include article
    include selector
    include title
    include position
    include anchorURL
    include anchorAt
    include isGenerateOutline
    include isGenerateOutlineChapterCode
    include isGenerateHeadingChapterCode
    include isGenerateHeadingAnchor