div#option-title.api-md
    div.api-hd
        h3.api-title title
    div.api-bd
        h4 Description
        dl.api-param
            dt.api-param-key Type：
            dd.api-param-value String
        dl.api-param
            dt.api-param-key Default：
            dd.api-param-value '文章导读'
        p 可选，用来指定文章导读导航菜单的标题文字。
        h4 Usage
        h5 Default title
        pre.api-code
            code.
                new Outline({
                    article: '#article',
                    // 不配置 title 属性，即使用默认标题文字
                });
        h5 Customize title
        pre.api-code
            code.
                new Outline({
                    title: 'OutlineJS API'
                });