footer#footer.main__footer
  p Copyright &copy; 2023 <a href="https://github.com/yaohaixiao">Robert Yao</a>, all right reserved.
  p Code licensed under&nbsp;
    |
    a(href="http://opensource.org/licenses/mit-license.html") MIT License
  p Documentation licensed under
    | &nbsp;
    |
    a(href="http://creativecommons.org/licenses/by/3.0/") CC BY 3.0
  p
    a(href="https://github.com/yaohaixiao/outline.js") View on GitHub
    |  ·
    |
    a(href="https://github.com/yaohaixiao/outline.js/issues") Issues

