doctype html
html(lang="en")
  head
    include ./meta
    title="outline.js | 自动生成文章导读（Table of Contents）导航的 JavaScript 工具。"
    include ./preload
    include ./style
  body
    div#docs.docs
      include ./aside
      include ./main
    include ./script
