main#main.main
  include ./header

  include ./cdn
  include ./download

  article#article
    include ./options/section
    include ./properties/section
    include ./methods/section

  include ./footer
