meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="keywords" content="outline.js,Automatic Create,Article,Outline,JavaScript,Toolkit")
meta(name="description" content="outline.js - 自动生成文章导读（Table of Contents）导航的 JavaScript 工具。会自动分析文章中的标题（ h1~h6 ）标签，并生成文章段落层次结构的导读导航菜单。")
link(rel="shortcut icon" href="./favicon.ico")
