meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="keywords" content="outline.js,JavaScript,Automatic Create,Article,Outline")
meta(name="description" content="outline.js - 自动生成文章导读（Table of Contents）导航的 JavaScript 工具。")
link(rel="shortcut icon" href="./favicon.ico")
