h3.aside__h3 Options
ul.aside__list
  li.aside__item
    a.aside__anchor(href="#option-anchorAt") anchorAt
  li.aside__item
    a.aside__anchor(href="#option-anchorURL") anchorURL
  li.aside__item
    a.aside__anchor(href="#option-article") article
  li.aside__item
    a.aside__anchor(href="#option-isGenerateHeadingAnchor") isGenerateHeadingAnchor
  li.aside__item
    a.aside__anchor(href="#option-isGenerateHeadingChapterCode") isGenerateHeadingChapterCode
  li.aside__item
    a.aside__anchor(href="#option-isGenerateOutline") isGenerateOutline
  li.aside__item
    a.aside__anchor(href="#option-isGenerateOutlineChapterCode") isGenerateOutlineChapterCode
  li.aside__item
    a.aside__anchor(href="#option-position") position
  li.aside__item
    a.aside__anchor(href="#option-selector") selector
  li.aside__item
    a.aside__anchor(href="#option-title") title
h3.aside__h3 Properties
ul.aside__list
  li.aside__item
    a.aside__anchor(href="#property-attributes") attributes
  li.aside__item
    a.aside__anchor(href="#property-data") data
  li.aside__item
    a.aside__anchor(href="#property-defaults") defaults
  li.aside__item
    a.aside__anchor(href="#property-elements") elements
h3.aside__h3 Methods
ul.aside__list
  li.aside__item
    a.aside__anchor(href="#method-get") get()
  li.aside__item
    a.aside__anchor(href="#method-set") set()
  li.aside__item
    a.aside__anchor(href="#method-getData") getData()
  li.aside__item
    a.aside__anchor(href="#method-getElements") getElements()
  li.aside__item
    a.aside__anchor(href="#method-index") index()
  li.aside__item
    a.aside__anchor(href="#method-scrollTo") scrollTo()
  li.aside__item
    a.aside__anchor(href="#method-stop") stop()
  li.aside__item
    a.aside__anchor(href="#method-show") show()
  li.aside__item
    a.aside__anchor(href="#method-hide") hide()
  li.aside__item
    a.aside__anchor(href="#method-toggle") toggle()
  li.aside__item
    a.aside__anchor(href="#method-reload") reload()
  li.aside__item
    a.aside__anchor(href="#method-remove") remove()
  li.aside__item
    a.aside__anchor(href="#method-destroy") destroy()


