h3.aside__h3 Options
ul.aside__list
  li.aside__item
    a.aside__anchor(href="#option-articleElement") articleElement
  li.aside__item
    a.aside__anchor(href="#option-selector") selector
  li.aside__item
    a.aside__anchor(href="#option-title") title
  li.aside__item
    a.aside__anchor(href="#option-scrollElement") scrollElement
  li.aside__item
    a.aside__anchor(href="#option-position") position
  li.aside__item
    a.aside__anchor(href="#option-parentElement") parentElement
  li.aside__item
    a.aside__anchor(href="#option-placement") placement
  li.aside__item
    a.aside__anchor(href="#option-stickyHeight") stickyHeight
  li.aside__item
    a.aside__anchor(href="#option-showCode") showCode
  li.aside__item
    a.aside__anchor(href="#option-anchorURL") anchorURL
  li.aside__item
    a.aside__anchor(href="#option-homepage") homepage
  li.aside__item
    a.aside__anchor(href="#option-git") git
  li.aside__item
    a.aside__anchor(href="#option-tags") tags
  li.aside__item
    a.aside__anchor(href="#option-issues") issues
  li.aside__item
    a.aside__anchor(href="#option-tools") tools
  li.aside__item
    a.aside__anchor(href="#option-customClass") customClass
  li.aside__item
    a.aside__anchor(href="#option-afterScroll") afterScroll
  li.aside__item
    a.aside__anchor(href="#option-afterSticky") afterSticky
  li.aside__item
    a.aside__anchor(href="#option-afterToggle") afterToggle
h3.aside__h3 Properties
ul.aside__list
  li.aside__item
    a.aside__anchor(href="#property-defaults") DEFAULTS
  li.aside__item
    a.aside__anchor(href="#property-attrs") attrs
  li.aside__item
    a.aside__anchor(href="#property-buttons") buttons
  li.aside__item
    a.aside__anchor(href="#property-anchors") anchors
  li.aside__item
    a.aside__anchor(href="#property-chapters") chapters
  li.aside__item
    a.aside__anchor(href="#property-drawer") drawer
  li.aside__item
    a.aside__anchor(href="#property-toolbar") toolbar
h3.aside__h3 Methods
ul.aside__list
  li.aside__item
    a.aside__anchor(href="#method-attr") attr()
  li.aside__item
    a.aside__anchor(href="#method-getChapters") getChapters()
  li.aside__item
    a.aside__anchor(href="#method-count") count()
  li.aside__item
    a.aside__anchor(href="#method-addButton") addButton()
  li.aside__item
    a.aside__anchor(href="#method-removeButton") removeButton()
  li.aside__item
    a.aside__anchor(href="#method-toTop") toTop()
  li.aside__item
    a.aside__anchor(href="#method-toBottom") toBottom()
  li.aside__item
    a.aside__anchor(href="#method-scrollTo") scrollTo()
  li.aside__item
    a.aside__anchor(href="#method-toggle") toggle()
  li.aside__item
    a.aside__anchor(href="#method-destroy") destroy()
  li.aside__item
    a.aside__anchor(href="#method-reload") reload()
