doctype html
html(lang='en')
  head
    include ./meta
    title outline.js - 自动生成文章导读（Table of Contents）导航的 JavaScript 工具
    link(href="css/example.min.css" rel="stylesheet")
  body
    .paper
      header.header
        h1.title Outline.js
      article#article.article
        main#main.article__main
          include ./example
          include ./options/section
          include ./properties/section
          include ./methods/section
          include ./events/section
          h2 License
          p JavaScript Code Licensed under MIT License.
          p API Documentation Licensed under CC BY 3.0
      footer.footer
        include ./footer
    script(src="js/outline.min.js")
    script.
        const defaults = Outline.DEFAULTS
        let outline

        defaults.homepage = './index.html'
        defaults.stickyHeight = 86
        defaults.placement = 'rtl'
        outline = new Outline(Outline.DEFAULTS)
        outline.reload()
