/* ========== colors.theme - 基础颜色变量集合 ========== */
@primary_color: #507afe;
@success_color: #058942;
@warning_color: #ff9901;
@danger_color: #ff5d5d;
@default_color: #c5c5c5;

@info_tip_bg_color: #ecf8ff;
@warning_tip_bg_color: #fffbe6;
@success_tip_bg_color: #e1f6eb;
@danger_tip_bg_color: #fff1f0;

@white: #fff;

@bg_color: #fafafa;
@hover_bg_color: #f7f8f9;
@disabled_bg_color: #f5f5f5;

@primary_border_color: #dcdfe6;
@secondary_border_color: #ddd;

@primary_text_color: #333;
@secondary_text_color: #555;
@third_text_color: #666;
@fourth_text_color: #999;

@border_color: #ddd;
