/* ===== Scrollbar ===== */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  -webkit-border-radius: 5px;

  &-track-piece {
    -webkit-border-radius: 5px;
  }

  &-thumb {
    &:vertical {
      background-color: rgba(0, 0, 0, 0.25);
      -webkit-border-radius: 5px;
    }

    &:horizontal {
      background-color: rgba(0, 0, 0, 0.25);
      -webkit-border-radius: 5px;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.35);
    }
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.15);
  }
}
