section.section
  header.section__header
    h3#method-get.section__h3 get ( prop )
  div.section__content
    h4.section__h4 Description
    p get ( prop ) 方法返回某个 attributes 属性。
    h4.section__h4 Parameters
    h5.section__h4 prop
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    p （必选）想要获取的 attributes 属性名称。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String|Boolean
    p attributes 属性值。
    pre.section__pre
      code.section__code.
        const outline = new Outline({
             article: '#article',
             title: 'Outline v2.0.0'
        })

        outline.get('title') // -> 'Outline v2.0.0'
