section.section
    header.section__header
        h3#method-getData.section__h3 getData ()
    div.section__content
        h4.section__h4 Description
        p getData () 方法设置或者返回 Autoc 对象的 data 属性。
        h4.section__h4 Returns
        dl.section__dl
            dt.section__dt Type：
            dd.section__dd {Outline.data}
        p Outline 对象的 data 属性。
        pre.api-code
            code.
                const outline = new Outline({
                     article: '#article',
                     title: 'Outline v2.0.0'
                })

                outline.getData() // -> 返回　Outline 对象的 data 属性
