section.section
    header.section__header
        h3#method-getElements.section__h3 getElements()
    div.section__content
        h4.section__h4 Description
        p getElements() 方法返回 elements 属性，AutocJs 对象相关的所有 DOM 元素。
        h4.section__h4 Returns
        dl.section__dl
            dt.section__dt Type：
            dd.section__dd Object
        p elements 属性，AutocJs 对象创建的所有 DOM 元素。
