section.section
    header.section__header
        h3#method-index.section__h3 index ( chapter )
    div.section__content
        h4.section__ Description
        p index ( chapter ) 方法返回 chapter 在 list() 返回的数据中对应段落层次位置索引值。
        h4.section__h4 Parameters
        h5.section__h4 chapter
        dl.section__dl
            dt.section__dt Type：
            dd.section__dd Object
        p （必选）某个标题对应的 chapter 数据。
        h4.section__h4 Returns
        dl.section__dl
            dt.section__dt Type：
            dd.section__dd Number
        p chapter 在 list() 返回的数据中对应段落层次位置索引值。
