section.section
  header.section__header
    h3#method-scrollTo.section__h3 scrollTo(top[，afterScroll])
  div.section__content
    h4.section__h4 Description
    p scrollTo() 方法用于将窗口的滚动条滚动到指定 top 值的位置。
    h4.section__h4 Parameters
    h5.section__h4 top
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Number
    p （必选）页面要滚动的 top 数值。
    h5.section__h4 afterScroll
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Function
    p （可选）页面停止滚动后的回调函数。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Outline
    p Outline 对象，便于链式方法调用。
    pre.section__pre
      code.section__code.
        const outline = new Outline({
             article: '#article',
             title: 'Outline v2.0.0'
        })

        // -> 页面将滚动到距离顶部 200 像素的位置
        outline.scrollTo(200)
        outline.scrollTo(200, () => {
          console.log('滚动结束‘)
        })
