section.section
  header.section__header
    h2.section__title Methods
  include attr
  include getChapters
  include toTop
  include toBottom
  include scrollTo
  include toggle
  include destroy
  include reload
