section.section
  header.section__header
    h2.section__title Methods
  div.section__content
    p outline.js 的提供的方法如下：
  include attr
  include getChapters
  include count
  include addButton
  include removeButton
  include toTop
  include toBottom
  include scrollTo
  include toggle
  include destroy
  include reload
  include $emit
  include $on
  include $off
