section.section
  header.section__header
    h2.section__title Methods
  include get
  include set
  include getElements
  include getData
  include index
  include scrollTo
  include stop
  include show
  include hide
  include toggle
  include reload
  include remove
  include destroy
