div#method-destroy.api-md
    div.api-hd
        h3.api-title destroy()
    div.api-bd
        h4 Description
        p destroy() 方法用于移除所有绘制的 DOM 节点，并移除绑定的事件处理器，同时重置所有 attributes 配置信息和 data 信息。
        h4 Returns
        dl.api-param
            dt.api-param-key Type：
            dd.api-param-value ArticleOutline
        p ArticleOutline 对象。
        h4 Usage
        pre.api-code
            code.
                var navigation = new ArticleOutline({
                     article: '#article',
                     title: 'ArticleOutline v0.2.0'
                });

                navigation.destroy();