div#method-getData.api-md
    div.api-hd
        h3.api-title getData ()
    div.api-bd
        h4 Description
        p getData () 方法设置或者返回 Outline 对象的 data 属性。
        h4 Returns
        dl.api-param
            dt.api-param-key Type：
            dd.api-param-value {Outline.data}
        p Outline 对象的 data 属性。
        h4 Usage
        pre.api-code
            code.
                var nav = new outline({
                     article: '#article',
                     title: 'Outline v0.2.0'
                });

                nav.getData(); // -> 返回　Outline 对象的 data 属性