div#method-getElements.api-md
    div.api-hd
        h3.api-title getElements()
    div.api-bd
        h4 Description
        p getElements() 方法返回 elements 属性，Outline 对象相关的所有 DOM 元素。
        h4 Returns
        dl.api-param
            dt.api-param-key Type：
            dd.api-param-value Object
        p elements 属性，Outline 对象创建的所有 DOM 元素。