div#method-hide.api-md
    div.api-hd
        h3.api-title hide()
    div.api-bd
        h4 Description
        p hide() 方法用来收起侧边栏菜单。
        h4 Returns
        dl.api-param
            dt.api-param-key Type：
            dd.api-param-value AutocJs
        p AutocJs 对象。
        h4 Usage
        pre.api-code
            code.
                var navigation = new AutocJs({
                     article: '#article',
                     title: 'AutocJs v0.2.0'
                });

                navigation.show();
                navigation.hide(); // -> 导航菜单将收起