div#method-index.api-md
    div.api-hd
        h3.api-title index ( chapter )
    div.api-bd
        h4 Description
        p index ( chapter ) 方法返回 chapter 在 list() 返回的数据中对应段落层次位置索引值。
        h4 Parameters
        h5.api-param-name chapter
        dl.api-param
            dt.api-param-key Type：
            dd.api-param-value Object
        p （必选）某个标题对应的 chapter 数据。
        h4 Returns
        dl.api-param
            dt.api-param-key Type：
            dd.api-param-value Number
        p chapter 在 list() 返回的数据中对应段落层次位置索引值。