div#method-scrollTo.api-md
    div.api-hd
        h3.api-title scrollTo ( top )
    div.api-bd
        h4 Description
        p scrollTo ( top ) 方法用于将窗口的滚动条滚动到指定 top 值的位置。
        h4 Parameters
        h5.api-param-name top
        dl.api-param
            dt.api-param-key Type：
            dd.api-param-value Number
        p （必选）页面要滚动的 top 数值。
        h4 Returns
        dl.api-param
            dt.api-param-key Type：
            dd.api-param-value Outline
        p Outline 对象。
        h4 Usage
        pre.api-code
            code.
                var navigation = new Outline({
                     article: '#article',
                     title: 'Outline v0.2.0'
                });

                navigation.scrollTo(200); // -> 页面将滚动到距离顶部 200 像素的位置