div.api-section
    h2.api-chanel Methods

    include get
    include set
    include getElements
    include getData
    include scrollTo
    include stop
    include show
    include hide
    include toggle
    include remove
    include destroy
    include reload