div#method-show.api-md
    div.api-hd
        h3.api-title show()
    div.api-bd
        h4 Description
        p show() 方法用来展开侧边栏菜单。
        h4 Returns
        dl.api-param
            dt.api-param-key Type：
            dd.api-param-value AutocJs
        p AutocJs 对象。
        h4 Usage
        pre.api-code
            code.
                var navigation = new AutocJs({
                     article: '#article',
                     title: 'AutocJs v0.2.0'
                });

                navigation.show(); // -> 导航菜单将展开